// variables

// font family
$headingFont: 'Karla', sans-serif;
$bodyFont: 'Inter';


// colors
$darkColor: #293264;
$mediumColor:#4D5B9E;
$lightColor: #5868b4;
$incorrectAnswer:#F8BCBC;
$correctAnswer: #94D7A2;
$selectedAnswer:#D6DBF5;





