@use '../styles/abstracts/variables' as v;
@use '../styles/abstracts/mixins' as m;
@use '../styles/abstracts/functions' as f;

/* QuestionScreen */
.question-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  gap: 1em;
  min-height: 100vh;
  position: relative;
}

.questions-container {
  max-width: 740px;

  @include m.breakpoint(medium) {
    width: 100%;
  }
}

.question-blob3 {
  position: absolute;
  top: 0;
  right: 0;
}

.question-blob4 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.check-answers-btn {
  @include m.button;
  font-weight: 600;
  border-radius: 10px;
  max-width: 740px;
}

.check-answers-btn:hover {
  @include m.buttonHover
}
 

/* Answers screen */
.score-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;

  @include m.breakpoint(medium) {
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
}

.score {
  font-family: v.$bodyFont;
  font-style: normal;
  font-weight: 700;
  font-size: f.rem(16);
  line-height: 15px;
  text-align: center;
  color: v.$darkColor;
  min-width: fit-content;
}

.reset-btn {
 @include m.button;
  font-weight: 600;
  border-radius: 10px;
}

.reset-btn:hover {
  @include m.buttonHover
}